doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title= title 
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='http://cdnks.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')